<%= turbo_frame_tag "brand_form" do %>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0">Edit Brand</h1>
          </div>

          <%= render 'form', brand: @brand %>

          <div class="mt-4">
            <%= link_to brands_path,
                        class: 'btn btn-light',
                        data: { turbo_frame: "_top" } do %>
              <i class="fas fa-arrow-left me-1"></i>Cancel
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>