<%= turbo_frame_tag "brand_form" do %>
  <div class="card">
    <div class="card-header">
      <h2>New Brand</h2>
    </div>
    <div class="card-body">
      <%= render "form", brand: @brand %>
    </div>
  </div>
<% end %>