<%= turbo_frame_tag "category_form" do %>
  <div class="card">
    <div class="card-header">
      <h2>New Category</h2>
    </div>
    <div class="card-body">
      <%= render "form", category: @category %>
    </div>
  </div>
<% end %>